#conteneur
{
	display: flex;
	justify-content: space-between;
	border:2px solid #444;
}

.element
{
	width: 150px;
	height:100px;
}

.element:nth-child(1)
{
	background-color: orange;
}

.element:nth-child(2)
{
	background-color: blue;
}

.element:nth-child(3)
{
	background-color: lawngreen;
}

.verte
{
	margin-top: 20px;
	margin-left:40px;
	position:relative;
	background-color:darkgreen;
	width:25em;
	padding-top:4em;
	padding-left:2em;
	padding-right:2em;
	padding-bottom: 1em;
	text-align:justify;
}

.jaune
{
	position:absolute;
	top:1em;
	right:4em;
	background-color:yellow;
}

.bleu
{
	margin-top: 40px;
	margin-left:40px;
	margin-bottom: 2em;
	position:relative;
	background-color:blueviolet;
	width:25em;
	padding-right: 10em;
	padding-left:2em ;
	padding-bottom: 1em;
	padding-top:2em;
	text-align:justify;
}

.bleuclair
{
	position:absolute;
	top:10em;
	right:2em;
	width: 7em;
	background-color:lightskyblue;
}

.element1
{
	margin:1em;
	border: 1px solid #000000;	
	background-color: lightpink;
}

.element2
{
	/*position:absolute;
	top:1em;
	left:1%;*/
	width: 70%;
	border: 1px solid #000000;
	background-color: royalblue;
	margin:1em;
	flex:2;

}

.element3
{
	/*position:absolute;
	top:1em;
	right:1%;
	width: 18%;*/
	border: 1px solid #000000;
	background-color: royalblue;
	margin:1em;
	flex:2;
}

.conteneur
{
	padding-top:2em;
	display:flex;
	border:1px solid black;
}